*
{
    background-color: azure;
}


.out-of-stock
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
}


.out-of-stock h2
{
    font-weight: 500;
    color: black;
    font-size: 1.2rem;
    
}

.out-of-stock p
{
    color: grey;
    font-weight: 200;
}